<ion-view title="消息">
    <ion-tabs class="tabs-striped tabs-background-light tabs-color-calm tabs-top tabs-secondary">
        <ion-tab title="@我"  href="#/tab/mentions/at">
          <ion-nav-view name="at-page"></ion-nav-view>
        </ion-tab>

        <ion-tab title="私信" href="#/tab/mentions/private">
            <ion-nav-view name="private-page"></ion-nav-view>
        </ion-tab>

        <ion-tab title="关注请求" href="#/tab/mentions/request">
            <ion-nav-view name="request-page"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
</ion-view>